body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* src/index.css */
body {
  background-color: rgb(255, 255, 255);
  color: rgb(66, 133, 244);
}
.navbar {
  background-color: rgb(66, 133, 244) !important;
}
.btn-primary {
  background-color: rgb(66, 133, 244) !important;
  border-color: rgb(66, 133, 244) !important;
}
